# Nombre de la aplicación definido cuando ejecutamos el
#comando flutter create
name: weinflu_app
# Descripción de la aplicación
description: Una nueva app llamada Weinflu para el manejo de finanzas personales y de tiendas

# Como todo proyecto Dart es una librería debemos tener cuidado
# con no publicar en el repositorio de librería flutter nuestra aplicación.
# A no ser que estemos creando una librería este parámetro debe permanecer
# en none
publish_to: 'none'

# Esto representa la versión de tu aplicación, te recomiendo seguir un
# versionamiento semántico
# https://semver.org/lang/es/
version: 1.0.0+1

# Esto indica que versiones de Dart son compatibles con nuestra aplicación
environment:
  sdk: '>=2.18.5 <3.0.0'

# Las dependencias especifican que paquetes necesitas para que tu
# aplicacion funcione de forma correcta
dependencies:
  flutter:
    sdk: flutter
  # En caso de necesitar los iconos de iOS puede utilizar cupertino
  cupertino_icons: ^1.0.2
  intl: ^0.18.0
# Estas son las dependencias para el ambiente de desarrollo. Es decir
# en la aplicación final
# no se verán reflejadas (instaladas) en ambiente productivo
dev_dependencies:
  flutter_test:
    sdk: flutter

  # El paquete "flutter_lints" sirve para evaluar las buenas prácticas
  # de desarrollo en Flutter.
  # Este te alertará por posibles errores y ayudará a mantener tu código
  # con baja deuda.
  flutter_lints: ^2.0.0


# La siguiente sección son los paquetes utilizados por Flutter.
flutter:

  # El equipo de Google creo el sistema de diseño llamado material design
  # Si tienes dudas de que es un sitema de diseño recuerda ir a la sección
  # del libro llamada Glosario.
  # Con esta dependencia tienes acceso a todos los componentes de diseño
  # disponibles de Google y lo mejor es que son visualmente persistentes
  # en iOS y Android, dando así coherencia al producto.
  uses-material-design: true
#-------------------------Importar Fuentes--------------------------------#
  fonts:
    - family: RobotoMono
      fonts:
        - asset: assets/fonts/Roboto-Regular.ttf
        - asset: assets/fonts/Roboto-Bold.ttf
          weight: 700
#-------------------------Importar Imagenes--------------------------------#
  assets:
    - assets/images/